<header>
  <div class="container">
    <!-- Interpelatin is used with double curly braces -->
    <!-- see nav.compoenent.ts file to see how it is defined using type script -->
    <a routerLink="/" class="logo"> {{ appTitle }} </a>
    <nav>
      <ul>
        <!-- router link is used in place of href -->
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>     
        <li><a routerLink="/contact">Contact</a></li> 
      </ul>
    </nav>
  </div>
</header>